<h2>New tweet:</h2>

<form action="/tweets" method="post" id="new-tweet-form">
    <textarea name="tweet[content]" id="content" cols="30" rows="10" placeholder="Your text here..."></textarea>
    <input type="submit" value="Tweet" id="submit">
</form>
