<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <h1>Fwitter</h1>
    <%if not logged_in?%>
      <a href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
    <%else%>
      <a href="/">Home</a> |
      <a href="/users/<%=current_user.slug%>/tweets">My Tweets</a> |
      <a href="/tweets">All Tweets</a> |
      <a href="/logout">Log Out</a>
    <%end%>
    <hr>
      <%=yield%>
    <p>&copy;PerezApps</p>
  </body>
</html>
